.table-hold {
  padding-left: 10px;
  padding-top: 25px;
  padding-bottom: 10px;
}

.table {
  margin-top: 15px;
  border-collapse: collapse;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
}

fieldset {
  max-width: 80%;
  font-weight: bold;
}

.dropdown a:hover {
    background-color: #ddd;
}

.radio {
	background: #fff;
  max-width: 330px;
	padding: 0px;
	position: relative;
}

.radio input {
	width: auto;
  max-width: 150px;
  min-width: 150px;
	height: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	border-radius: 0px;
	padding: 8px 8px;
	background: #868585;
	color: #fff;
	font-size: 14px;
	transition: all 100ms linear;
}

.radio input:checked {
	background-image: linear-gradient(225deg, rgba(255,250,188,1) 0%, rgba(223,131,69,1) 0%, rgba(237,87,87,1) 100%);
	color: #fff;
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
}

.radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}

.drop-container {
  display: inline-flex;
  margin-right: 20px;
  padding-right: 20px;
}

.drop-content {
  border-radius:36px;
  display:inline-block;
  overflow:hidden;
  background:#979797;
  border:1px solid #979797;
}

.select {
  width:140px;
  height:40px;
  border:0px;
  text-align: center;
  outline:none;
}

.dropdown {
  padding-right: 25px;
}

.header {
  padding: 12px 4px 12px 4px;
  text-align: center;
  font-weight: 800;
  background: rgb(237,87,87);
  border: 1px solid #000;
  color: white;
  cursor: pointer;
}

.green {
  background: rgb(155, 216, 173);
}

.red {
  background: rgb(206, 138, 138);
}

.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

/*
.table tr:nth-child(even) {
    background-color: #f2f2f2;
} */

/*
#even {
  background-color: #f2f2f2;
}*/

.table td:hover {
    background-color: #ddd;
}

#games, .name, .val, .radio input {
  font-weight: bold;
}

.name {
  min-width: 145px;
}

.hidden, .increment {
  display: none;
}

.explanation {
  font-size: 10px;
}

.hding {
  font-size: 11px;
  text-decoration: underline;
}
